@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Pacifico&display=swap");

:root {
  --main-bg-color: rgb(84, 84, 236);
  --bg1-color: rgba(84, 84, 236, 0.9);
  --bg2-color: rgba(84, 84, 236, 0.8);
  --mg1: 6rem;
  --mg2: 5rem;
  --mg3: 4rem;
  --mg2: 3rem;
  --mg1: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: rgb(238, 237, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* width */
body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--bg2-color);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans JP", sans-serif;
  margin: 1rem;
  color: rgb(121, 128, 233);
}

p {
  font-family: "Dosis", sans-serif;
}
nav {
  background-color: rgb(84, 84, 236);
  width: 100%;
  height: 60px;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
  border-bottom: 2px solid rgb(148, 209, 211);
}

span {
  color: rgb(252, 252, 252);
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  font-family: sans-serif;
  font-family: "Pacifico", cursive;
}

nav ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: none;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
  margin-left: 0.8rem;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(221, 203, 175);
  list-style: none;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  height: 85%;
  padding: 0 0.5rem;
  border-bottom: 2px solid transparent;
  transition: 0.3s all ease-in-out;
}

nav ul li a:hover {
  color: rgb(238, 224, 237);
  cursor: pointer;
  background-color: rgb(105, 105, 233);
  border-bottom: 2px solid rgb(221, 203, 175);
}

.hero {
  background-image: url("./images/luis-villasmil-GUs2qEeUSEE-unsplash.jpg");
  width: 100%;
  height: 70vh;
  object-position: center;
  object-position: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-color: rgb(127, 125, 207);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.hero h1 {
  color: rgb(252, 252, 252);
  width: 50%;
  text-align: left;
  margin: 1rem 0;
  font-size: 2.2rem;
}

.hero p {
  width: 50%;
  text-align: left;
  color: rgb(228, 222, 222);
  font-size: 1.1rem;
  margin: 1rem 0;
}

.hero .action-buttons {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.hero .action-buttons button {
  width: auto;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-color: rgba(69, 69, 223, 0.808);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
}

.container {
  width: 100%;
  padding: 1rem 0;
  min-height: 85vh;
  text-align: center;
}
.programs {
  text-align: center;
  width: 50%;
  margin: 2rem auto;
  background-color: rgb(118, 157, 235);
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1rem;
}

.programs h1 {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 0.5rem;
  color: aliceblue;
}

.programs p {
  line-height: 1.6;
  text-align: left;
  color: rgb(145, 141, 141) 2;
}

.programs .form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem 0;
}
.programs input {
  width: 70%;
  color: rgb(85, 81, 81);
  padding: 14px 10px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
}
.programs button {
  padding: 12px 10px;
  border-radius: 10px;
  margin-left: 1rem;
  color: rgb(47, 82, 151);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

.services {
  margin: 4rem auto 2rem;
  padding: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.card {
  height: 300px;
  color: rgb(21, 22, 22);
  background-color: rgb(250, 253, 255);
  border-radius: 5px 30px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 1px 2px 0.5rem rgba(0, 0, 0, 0.2);
}

.card img {
  height: 40%;
  max-height: 40%;
  background-color: rgb(88, 104, 104);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.card .body {
  min-height: 60%;
}
.card h1 {
  max-width: 90%;
  margin: 1rem auto;
  color: rgb(128, 128, 226);
}

.card p {
  max-width: 90%;
  margin: 1rem auto;
  color: rgb(82, 82, 151);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(253, 253, 253);
  padding: 5rem 0;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

.info .upper,
.info .lower {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
}
.info .lower {
  flex-direction: row-reverse;
}
.info .content {
  max-width: 40%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .content p {
  line-height: 1.6;
  color: rgb(82, 82, 78);
  font-size: 18px;
}
.info img {
  width: 350px;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

.teams-container {
  margin: 2rem auto;
  text-align: center;
}
.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.teams .user {
  border-radius: 5px 30px 5px 20px;
  margin-left: 1rem;
  background-color: white;
}
.teams img {
  max-height: 300px;
  min-width: 300px;
  object-fit: cover;
  object-position: center;
}

.teams .user-info {
  padding: 0.7rem 0.5rem;
}

.teams .user-info h2 {
  margin: 0;
  text-align: left;
  color: rgb(124, 157, 228);
}

.teams .user-info p {
  text-align: left;

  color: rgb(76, 87, 112);
}

.login {
  min-height: 82vh;
}
.login form h2 {
  font-size: 2rem;
  margin: 2rem auto;
  color: rgb(121, 128, 233);
}

form {
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: 1px 2px 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

form input {
  padding: 10px 16px;
  border-radius: 5px;
  margin-bottom: 0.4rem;
  width: 90%;
  margin: 1rem auto;
}

form .btn {
  width: 90%;
  margin: 1rem auto;
  background-color: rgb(70, 127, 252);
  color: #fff;
  font-size: 1rem;
  letter-spacing: 2px;
  border: none;
  outline: none;
}

/* Contact  */
.contact {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
}

.contact h2 {
  font-size: 2rem;
  margin: 2rem auto;
  color: rgb(121, 128, 233);
}
.contact span {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1px;
  color: rgb(32, 31, 31);
  padding-left: 1rem;
}

.contact ul {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5rem;
  border-radius: 10px;
}

.contact ul li {
  padding: 1rem 0;
  font-style: italic;
  color: rgb(82, 84, 85);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact ul li a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

/* About  */
.about {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 70%;
  min-height: calc(100vh - 60px);
}
.about h2 {
  font-size: 2rem;
  margin: 2rem auto;
  color: rgb(121, 128, 233);
}

.about p {
  max-width: 80%;
  margin: 2rem auto;
  line-height: 1.6;
  color: rgb(54, 54, 54);
  font-size: 1.3rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: black;
  color: blanchedalmond;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

footer h1,
h2 {
  font-size: 18px;
  color: rgb(156, 153, 148);
  text-align: center;
}
